{% import '../helpers.html' as helper %}
{% set m = theme.modal %}

.modal--body{ overflow: hidden; }
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    {{ 'background-color: '+helper.color_min(m.overlay)+';' if m.overlay.color }}
    {{ 'backdrop-filter: blur('+m.blur+'px);' if m.blur != null }}
    height: 100vh;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
}
.modal--active{
    display: flex;
}
.modal__content{
    max-width: 90%;
    {{ 'width: '+m.content_width+'px;' if m.content_width }}
}
.modal__content-button{
    display: block;
    text-align: right;
}
.modal__close-button{
    display: inline-block;
    cursor: pointer;
    {{ 'color: '+helper.color_min(m.close_color)+';' if m.close_color.color }}
}
.modal__close-button>svg{
    vertical-align: middle;
    display: inline-block;
    {{ 'fill: '+helper.color_min(m.close_color)+';' if m.close_color.color }}
}