{% set t = theme.tabs %}

.tab{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tab__item{
    display: inline-block;
    {{ 'margin: 0px '+t.space_between+'px;' if t.space_between != null }}
    cursor: pointer;
}



.tab-item{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tab-item__item{ 
    display: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.tab-item__item--active{ display: block; }