{% import '../helpers.html' as helper %}
{% set v = theme.video %}

.video,
.video>iframe{
    max-width: 100%;
    width:100%;
    {{ 'height:'+v.height+'px;' if v.height }}
    overflow: hidden;
}

{% call helper.media_min() %}
    
    .video,
    .video>iframe{
        {{ 'height:'+v.height_mobile+'px;' if v.height_mobile }}
    }

{% endcall %}


